a {
	text-decoration: none;
}

@font-face {
    font-family: HappyTimes_italic;
    src: url(happy-times-italic.otf);
}

@font-face {
    font-family: HappyTimes_regular;
    src: url(happy-times.otf);
}

@font-face {
    font-family: HappyTimes_bold;
    src: url(happy-times-bold.otf);
}

@font-face {
    font-family: Karla_regular;
    src: url(Karla-Regular.ttf);
}

@font-face {
    font-family: Karla_Bold;
    src: url(Karla-Bold.ttf);
}

@font-face {
    font-family: Cormorant-light;
    src: url(CormorantGaramond-Light.ttf);
}





body {
	background-color: #ffb3c2;
	padding: 4rem;
}

#home-sopra {
	width: 70vw;
}

#home-sotto {
	position: absolute;
	bottom: 4rem;
}

#home-sotto-sx {
	width: 20vw;
	display: inline-block;
	vertical-align: top;
}

#home-sotto-dx {
	width: 21vw;
	display: inline-block;
	vertical-align: top;
}


.onde {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -100;
}


.testo-gigante {
	font-family: HappyTimes_italic;
	font-size: 2.4rem;
	line-height: 3.8rem;
	margin: 0;
	color: white;
	cursor: pointer;
	z-index: 100;
	
}

.link-home {
	color: black;
	cursor: pointer;
	font-size: 2.8rem;
}

.link-home:hover {
	color: white;
}

.titoletto-sans {
	font-family: Karla_Bold;
	font-size: 1.2rem;
	
}

.testo-serif-piccolo {
	color: white;
	font-family: Karla_regular;
	font-size: 1.25rem;

	
}

.ciao {
	font-family: HappyTimes_italic;
	margin: 0;
	color: white;
	font-size: 8rem;
}






.bold {
	font-family: HappyTimes_bold;
	font-size: 3.4rem;
}

.underline {
	text-decoration: underline;
}

.white {
	color: white;
}

.black {
	color: black;
}

.pointer {
	cursor: pointer;
}

.towhite:hover {
	color: white;
}




.stellina {
	font-size: 4rem;
}






@media screen and (max-width: 1400px) {
	#home-sotto-sx {
		width: 30vw;
	}

	#home-sotto-dx {
		width: 40vw;
	}
	
	#home-sopra {
		width: auto;
	}
	
	.link-home {
		font-size: 3rem;
	}
	
	.testo-gigante {
		font-size: 2.5rem;
		line-height: 3.6rem;
	}
  
}


@media screen and (max-width: 800px) {
	
	body {
		padding: 2rem;
	}
	
	#home-sotto-sx {
		display: none;
	}

	#home-sotto-dx {
		width: 70vw;
	}
	
	.link-home {
		font-size: 2.8rem;
	}
	
	.testo-gigante {
		font-size: 2.2rem;
		line-height: 3.4rem;
	}
	
	#home-sotto {
		bottom: 2rem;
	}
  
}


@media screen and (max-width: 600px) {
	
	body {
		padding: 2rem;
	}
	
	#home-sopra {
		text-align: center;
	}
	
	#home-sotto-dx {
		width: 70vw;
	}
  
}


@media screen and (max-width: 530px) {
	
	.link-home {
		font-size: 2.6rem;
	}
	
	.testo-gigante {
		font-size: 2rem;
		line-height: 3.1rem;
	}
	

}











.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: underline;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -230%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}








